*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

h1 {
    margin-bottom: 30px;
}

.nav {
    margin-top: 50px;
    margin-bottom: 30px;
}

.menu {
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    list-style-type: none;
    margin-right: 25px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    padding: 5px;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-decoration: underline;
}

.form {
    max-width: 400px;
}

.form-group {
    margin-bottom: 15px;
}

.error {
    color: red;
}
.success {
    color: green;
}

.data-item {
    display: flex;
}