 * {
     box-sizing: border-box;
 }

 .container {
     max-width: 500px;
     margin: 0 auto;
     padding-top: 50px;
 }

 .row {
     display: flex;
     justify-content: center;
 }

.form-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}
 .form-group {
     margin-bottom: 10px;
 }

 label {
     display: block;
 }

 input, textarea {
     width: 100%;
     padding: 10px 15px;
 }
 input[type="checkbox"],  input[type="radio"] {
     width: auto;
 }

 select {
    width: 100%;
    padding: 10px 15px;
     background-color: transparent;

 }

 .btn {
     background-color: blue;
     color: #fff;
     border: none;
     padding: 0 20px;
     line-height: 35px;
     cursor: pointer;
 }

 .message {
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .error {
     color: red;
 }

 .success {
     color: #037437;
 }

 h1 {
     text-align: center;
     margin-bottom: 30px;
 }